.video__about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  video {
    width: 70%;
    height: auto;
  }
}

.text__history {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

@media screen and (max-width: 450px) {
  .video__about {
    padding: 0;
    height: auto;
    flex-direction: column-reverse;
    video {
      width: 90%;
    }
  }
  .text__history {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}
