.eucharistic__index {
  width: 100%;
  height: calc(100vh - 70px);
  .half__card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    > div {
      padding: 1em;
      position: relative;
      > div {
        position: absolute;
        width: 50%;
        bottom: 30px;
        right: 20px;
        overflow: auto;
      }
    }
    .cont__img {
      width: 80%;
      height: 50vh;
      align-self: center;
      justify-self: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .video__about_san {
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    video {
      width: 70%;
    }
  }
  .video__about {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 50%; /* position the top  edge of the element at the middle of the parent */
      left: 50%; /* position the left edge of the element at the middle of the parent */

      transform: translate(-50%, -50%);
      width: 60%;
      height: 60%;
      border: none;
    }
  }
}

@media screen and (max-width: 450px) {
  .eucharistic__index {
    height: auto;
    margin-bottom: 50px;
    .half__card {
      grid-template-columns: repeat(1, 100%);
      > div {
        > div {
          width: 90%;
          overflow: auto;
        }
      }
    }
    .video__about {
      iframe {
        width: 90%;
        height: 90%;
      }
    }
    .video__about_san {
      height: auto;
    }
  }
}
