.franciscan__index {
  width: 100%;
  height: calc(100vh - 70px);
  .container__photos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    .container__carousel {
      width: 80%;
      height: 60vh;
      .item {
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .card__holder {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 50%);
    > div {
      > div {
        width: 80%;
      }
    }
  }
  .half__card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    > div {
      width: 50%;
      position: relative;
      > div {
        bottom: 30px;
        right: 10%;
        position: absolute;
        width: auto;
      }
    }
    .video__pastoral {
      // border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 50%;
      > div {
        position: relative;
        overflow: hidden;
        width: 100%;
        right: 0%;
        padding-top: 56.25%;
        > iframe {
          position: absolute;
          top: 50%; /* position the top  edge of the element at the middle of the parent */
          left: 50%; /* position the left edge of the element at the middle of the parent */
          transform: translate(-50%, -50%);
          width: 80%;
          height: 80%;
          border: none;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .franciscan__index {
    height: auto;
    .card__holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .half__card {
      flex-direction: column-reverse;
      height: calc(100vh - 150px);
      > div {
        width: 100%;

        > div {
          position: inherit;
          width: 100%;
          right: auto;
        }
      }
      .video__pastoral {
        width: 100%;
        > div {
          margin-top: 20px;
          > iframe {
            width: 90%;
            height: 90%;
          }
        }
      }
    }
  }
}
