.franciscan__index {
  width: 100%;
  height: calc(100vh - 70px);
  .container__photos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    .container__carousel {
      width: 80%;
      height: 60vh;
      .item {
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .card__holder {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 50%);
    > div {
      > div {
        width: 80%;
      }
    }
  }
  .half__card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 50%);
    > div {
      position: relative;
      div {
        bottom: 30px;
        left: 10%;
        position: absolute;
        width: auto;
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .franciscan__index {
    height: auto;
    .card__holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .half__card {
      height: auto;
    }
  }
}
