.franciscan__index {
  width: 100%;
  height: calc(100vh - 70px);
  .container__photos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    .container__carousel {
      width: 80%;
      height: 60vh;
      .item {
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .card__holder {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 50%);
    > div {
      > div {
        width: 80%;
      }
    }
  }
  .container__franciscan {
    width: 100%;
    height: 100%;
    display: flex;
    > div {
      height: 100%;
      width: 50%;
    }
    .video__pastoral {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .iframe__video {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
      iframe {
        position: absolute;
        top: 50%; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */

        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
        border: none;
      }
    }
    .text {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}

@media screen and (max-width: 450px) {
  .franciscan__index {
    height: auto;
    .card__holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .container__franciscan {
      flex-direction: column;
      > div {
        width: 100%;
      }
    }
  }
}
