.animation__home {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__summary {
  width: 100%;
  height: 100vh;
  display: flex;
  > div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .images {
    .ant-carousel {
      width: 100%;
      height: 50%;
      padding: 20px;
      .item {
        width: 100%;
        height: calc(25vw);
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        > img {
          width: 100%;
          height: 25vw;
          object-fit: cover;
          background-color: rgba($color: #fff, $alpha: 0.8);
        }
      }
    }
  }
}

.places__summary {
  width: 100%;
  height: 100vh;
  display: flex;

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel__sedes {
    width: 25vw;
    height: 25vw;
    .item {
      width: 100%;
      height: calc(25vw);
      display: flex;
      flex-wrap: wrap;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        height: auto;
        background-color: rgba($color: #fff, $alpha: 0.8);
        margin: 10px;
      }
    }
  }
}

.news__container_index {
  width: 100%;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid white;
  .container__news {
    margin-top: 5vh;
    width: 80%;
    height: 80%;
    display: flex;
    overflow: hidden;
    > div {
      height: 100%;
    }
    .news {
      display: flex;
      align-items: center;
      width: 40%;
    }
    .main__news {
      padding: 20px;
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 1366px) {
  .about__summary {
    .images {
      > div {
        height: 60%;
        width: 70%;
        display: flex;
        overflow: hidden;
        > .left__images {
          width: 50%;
          :nth-child(1) {
            height: 50%;
          }
          :nth-child(2) {
            height: 50%;
          }
        }
      }
    }
  }

  .places__summary {
    .carousel__sedes {
      width: 40vw;
      height: 40vw;
      .item {
        height: calc(40vw);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .about__summary {
    .images {
      > div {
        width: 90%;
        > div {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .first__home {
    height: 100vh;
  }
  .about__summary {
    height: auto;
    display: block;
    > div {
      width: 100%;
    }
    .images {
      > div {
        height: 50vh;
        > .left__images {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .places__summary {
    display: flex;
    flex-direction: column-reverse;
    height: auto;

    .carousel__sedes {
      width: 50vh;
      height: auto;
      .item {
        height: calc(100vh);
      }
    }
  }
  .news__container_index {
    height: auto;
    .container__news {
      height: auto;
      flex-direction: column;
      margin-bottom: 30px;
      .news {
        width: 100%;
      }
      .main__news {
        width: 100%;
        padding: 0;
      }
    }
  }
}
