.province__container {
  width: 100%;
  height: 100%;
  .cardProvinces {
    bottom: 50px;
    top: inherit;
    width: 40%;

    .text {
      padding: 0;
    }
  }
  .carousel__provinces {
    width: 100%;
    height: 100%;
    .item {
      width: 100%;
      height: calc(100vh - 70px);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        position: relative;
        z-index: 3;
        font-size: 3vw;
        color: #fff;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .cardProvinces {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
