.spirituality__index {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .img__card {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    > div {
      width: 50%;
      height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 70%;
        height: 70%;
        object-fit: contain;
      }
    }
    .text {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      > div {
        width: auto;
      }
    }
    // .img__cont {
    //   z-index: 1;
    //   background-color: #303030d0;
    //   position: absolute;
    //   width: 50%;
    //   height: 70%;
    //   top: 10%;
    //   left: 30%;
    //   > img {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //   }
    // }
  }
  .half__card {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    > div {
      > div {
        width: 90%;
        overflow: auto;
      }
    }
    .cont__img {
      width: 50%;
      height: 70%;
      align-self: center;
      justify-self: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .half__card__madre {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    grid-template-columns: repeat(1, 50%);
    > div {
      div {
        height: auto;
      }
    }
  }
  .blog__entries {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container__carousel {
      width: 80%;
      height: 70vh;
      .item {
        width: 80%;
        height: 70vh;
        display: flex !important;
        flex-direction: row;
        .entrada {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .spirituality__index {
    height: calc(100vh - 70px);
    .img__card {
      > div {
        top: 40%;
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .spirituality__index {
    .img__card {
      > div {
        top: 30%;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .spirituality__index {
    height: auto;
    margin-bottom: 20px;
    .img__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > div {
        width: 100%;
        height: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 93%;
          height: 70%;
        }
      }
    }
    .half__card {
      display: flex;
      flex-direction: column;
    }
  }
}
