@import '../base/settings';

.mainContainer {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;

  .mainContainerNav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50000;
    .navBar {
      width: 100%;
      margin-bottom: 0;
      padding-left: 0;
    }
    a {
      color: #fff;
      background-color: $backgroundDark;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      &:hover {
        text-shadow: 0 0.015em #f0f0f0, 0 -0.015em #f0f0f0, 0.01em 0 #f0f0f0, -0.01em 0 #f0f0f0;
      }
    }
    ul {
      list-style: none;
      display: flex;
    }
    li {
      width: 100%;
      text-align: center;
      position: relative;
      &:hover .navBar__subMenu > li {
        display: block;
      }
    }

    .navBar__subMenu {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      li {
        display: none;
        position: relative;
        top: 0;
        border-top: 1px #f0f0f0 solid;
      }
    }
  }

  .footer {
    width: 100%;
    height: 530px;
    overflow: hidden;
    position: relative;
    z-index: 50000;

    .newsletter {
      width: 100%;
      height: 40%;
      background: $backgroundDark;
      display: flex;
      > div {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3em;
        > h1 {
          color: $textFooter;
          font-family: 'PlayFair' !important;
          text-align: center;
        }
        > p {
          color: $textFooter;
          font-family: 'Montserrat-Bold';
        }
      }
    }
    .contact {
      width: 100%;
      height: 60%;
      background: $lightBlue;
      display: flex;
      > div {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em;
        span {
          color: $textFooter;
          margin: 1em;
          color: $backgroundDark;
        }
        .socialIcon {
          display: flex;
          padding-left: 0;
          margin-bottom: 0;
          li {
            list-style: none;
            margin: 1em;
          }
        }
        h1 {
          font-family: 'PlayFair' !important;
          color: $backgroundDark;
        }
        .contactList {
          padding-left: 0;
          margin-bottom: 0;
          li {
            list-style: none;
            text-decoration: underline;
            color: $backgroundDark;
            margin: 10px 0 10px 0;
          }
        }
      }
    }
  }
}
