.news__target {
  width: 800px;
  cursor: pointer;
  .header__news {
    background-color: $backgroundDark;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: $textFooter;
    }
  }
  .body__news {
    display: flex;
    > div {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      img {
        width: 100%;
      }
      p {
        padding: 20px;
        font-family: 'Montserrat-Regular';
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .news__target {
    width: 80%;
    .header__news {
      h1 {
        font-size: 16pt;
      }
    }
    .body__news {
      display: block;
      > div {
        width: 100%;
        img {
          width: 50%;
        }
        p {
          padding: 10px;
          font-size: 10pt;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
