.text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .div__text {
    padding: 50px;
    height: auto;
    background-color: rgba($color: #fff, $alpha: 0.8);
    p {
      font-family: 'Montserrat-Regular';
      > div {
        width: 50%;
        .subtitle {
          margin-bottom: 2em;
        }
        .subtitle:last-child {
          margin: 0;
        }
      }
    }
  }
}
