.text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  .div__text {
    width: 100%;
    // border: 3px solid lightblue;
    padding: 30px;
    height: auto;
    .title {
      h2,
      h2,
      h1 {
        color: $lightBlue;
        font-family: 'PlayFair';
        margin: 0;
        * {
          color: $lightBlue;
          font-family: 'PlayFair';
          margin: 0;
        }
      }
      h1 {
        font-size: 30pt;
      }
      h2 {
        font-size: 25pt;
      }
    }
    .text_template {
      h2,
      h2,
      h1 {
        color: $lightBlue;
        font-family: 'PlayFair';
        margin: 0;
      }
      span {
        font-family: 'Montserrat-Regular';
      }
      margin: 10px 0;
    }
    .contact_subtitle {
      h2 {
        font-size: 1.3em;
        font-family: 'PlayFair';
      }
    }
    ul {
      li {
        color: $dark-grey;
        list-style: none;
        font-size: 14pt;
        font-family: 'Montserrat-Regular';
      }
      a {
        font-family: 'Montserrat-Regular';
        text-decoration: underline;
      }
    }
    p {
      font-family: 'Montserrat-Regular';
      margin: 0;
      width: 100%;
      font-size: 15pt;
      > div {
        width: 50%;
        .subtitle {
          margin-bottom: 2em;
        }
        .subtitle:last-child {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .text {
    width: 100%;
    .div__text {
      padding: 10px;
    }
  }
}
@media screen and (max-width: 450px) {
  .text {
    padding: 1em;
    .div__text {
      ul {
        li {
          font-size: 1em;
        }
      }
    }
  }
}
