.ant-input-group-addon {
  .ant-btn-primary {
    color: #fff;
    background: $lightBlue;
    border-color: $lightBlue;
  }
}

.ant-carousel {
  width: 100%;
  height: 100%;
}
.carousel__sedes .ant-carousel .slick-dots {
  bottom: -30px;
}
