// Colors
$primary: #5c62c5;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$backgroundDark: #303030;
$lightBlue: #01b9c5;
$lightBlueHover: rgba(5, 160, 171, 1);
//text
$textFooter: #fff;

//titles
.title {
  font-family: 'PlayFair' !important;
  color: $lightBlue;
  font-size: 30pt;
  text-align: center;
  // font-weight: bold;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .ant-carousel {
    .slick-dots {
      bottom: -30px;
    }
    height: auto;
    width: 90%;

    // overflow: hidden;
    .item {
      width: 100%;
      height: 100%;
      padding-top: 56.25%;
      position: relative;
      .text {
        position: absolute;
        background-color: rgba($color: #000, $alpha: 0.45);
        bottom: 0;
        z-index: 2;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-family: 'Montserrat-Regular';
          text-align: center;
          padding: 0 5px 0 5px;
          margin: 0;
          font-size: 14pt;
          color: #fff;
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.main__title {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 5%;
  width: 60%;
  h1 {
    color: $textFooter;
    font-family: 'PlayFair' !important;
    font-size: 4vw;
    font-weight: bold;
  }
}

.secondary__title {
  position: absolute;
  z-index: 3;
  top: 3%;
  left: 0%;
  padding-left: 2.5%;
  width: 60%;
  > * {
    color: $textFooter;
    font-family: 'PlayFair' !important;
    font-size: 25pt;
    font-weight: bold;
    > span {
      color: $textFooter;
      font-family: 'PlayFair';
      font-size: 25pt;
      font-weight: bold;
    }
  }
}

//divs

.mask {
  background-color: rgba($color: #000, $alpha: 0.35);
  z-index: 1;
  transition: 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

//link
.link {
  cursor: pointer;
  font-size: 40pt;
  color: #fff;
  font-family: 'PlayFair' !important;
}

@media screen and (max-width: 1024px) {
  .main__title {
    bottom: 10%;
    h1 {
      font-size: 4vw;
    }
  }

  .title {
    font-size: 20pt;
  }

  .secondary__title {
    width: 80%;
    bottom: 5%;
    h1 {
      font-size: 20pt;
    }
  }
}

@media screen and (max-width: 450px) {
  .main__title {
    position: inherit;
    z-index: 3;
    top: 0;
    left: inherit;
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    align-items: flex-end;
    h1 {
      color: $textFooter;
      font-family: 'PlayFair' !important;
      font-size: 20pt;
      font-weight: bold;
    }
  }

  .secondary__title {
    position: relative;
    z-index: 3;
    top: inherit;
    left: inherit;
    height: auto;
    width: 90%;
    margin-top: 50px;
    padding-left: 10px;
    h1 {
      color: $textFooter;
      font-family: 'PlayFair' !important;
      font-size: 20pt;
      font-weight: bold;
    }
  }
}
